In [1]:
import pandas as pd

In [2]:
data = [['C1', 2, 0, 0, 0, 0, 0], 
        ['C2', 0, 0, 1, 0, 0, 0],
        ['C3', 1, 1, 0, 0, 0, 0],
        ['C4', 0, 0, 0, 0, 2, 0],
        ['C5', 0, 0, 0, 1, 0, 1]]

solicitudes = pd.DataFrame(data, columns=['IdCliente', 'Servicio01', 'Servicio02', 
                                    'Servicio03', 'Servicio04', 'Servicio05', 
                                    'Servicio06'])

solicitudes = solicitudes.set_index(['IdCliente'])
solicitudes

          Servicio01 Servicio02 Servicio03 Servicio04 Servicio05 Servicio06
IdCliente
C1                 2          0          0          0          0          0
C2                 0          0          1          0          0          0
C3                 1          1          0          0          0          0
C4                 0          0          0          0          2          0
C5                 0          0          0          1          0          1

In [3]:
data = [['I1', 0, 0, 1, 1, 0, 1], 
        ['I2', 0, 0, 1, 0, 1, 1],
        ['I3', 1, 1, 0, 1, 0, 0],
        ['I4', 0, 1, 0, 0, 1, 1],
        ['I5', 0, 0, 0, 1, 0, 1],
        ['I6', 1, 1, 1, 1, 0, 0]]

acreditaciones = pd.DataFrame(data, columns=['IdIngeniero', 'Servicio01', 'Servicio02', 
                                    'Servicio03', 'Servicio04', 'Servicio05', 
                                    'Servicio06'])

acreditaciones = acreditaciones.set_index(['IdIngeniero'])
acreditaciones

            Servicio01 Servicio02 Servicio03 Servicio04 Servicio05 Servicio06
IdIngeniero
I1                   0          0          1          1          0          1
I2                   0          0          1          0          1          1
I3                   1          1          0          1          0          0
I4                   0          1          0          0          1          1
I5                   0          0          0          1          0          1
I6                   1          1          1          1          0          0

In [4]:
data = [['I1', 2], 
        ['I2', 1],
        ['I3', 3],
        ['I4', 2],
        ['I5', 1],
        ['I6', 3]]

libres = pd.DataFrame(data, columns=['IdIngeniero', 'SemanasLibres'])

libres = libres.set_index(['IdIngeniero'])
libres

            SemanasLibres
IdIngeniero
I1                      2
I2                      1
I3                      3
I4                      2
I5                      1
I6                      3

In [5]:
data = [['I1', 120, 113,  91,  97,  60], 
        ['I2',  68,  97,  68, 127, 113],
        ['I3', 111, 115, 120, 114, 119],
        ['I4',  93, 113, 113,  93, 112],
        ['I5', 108,  67, 115, 115, 114],
        ['I6', 125, 107,  60, 113,  64]]

costos = pd.DataFrame(data, columns=['IdIngeniero', 'C1', 'C2', 'C3', 'C4', 'C5'])

costos = costos.set_index(['IdIngeniero'])
costos

              C1   C2   C3   C4   C5
IdIngeniero
I1           120  113   91   97   60
I2            68   97   68  127  113
I3           111  115  120  114  119
I4            93  113  113   93  112
I5           108   67  115  115  114
I6           125  107   60  113   64

In [6]:
programa = MixedIntegerLinearProgram(maximization=False)
asignacion = programa.new_variable(integer=True, nonnegative = True, name='Asignación')

In [7]:
suma = 0
for i in solicitudes.index:
    if solicitudes.Servicio01.loc[i] > 0:
        print("El cliente", i, "requiere", solicitudes.Servicio01.loc[i], "servicios. Los ingenieros posibles son:")
        for j in acreditaciones.index:
            if acreditaciones.Servicio01.loc[j] > 0:
                print("\tEl ingeniero" , j, "con costo de $", costos[i].loc[j])
                suma = suma + costos[i].loc[j] * asignacion[i, j]
    if solicitudes.Servicio02.loc[i] > 0:
        print("El cliente", i, "requiere", solicitudes.Servicio02.loc[i], "servicios. Los ingenieros posibles son:")
        for j in acreditaciones.index:
            if acreditaciones.Servicio02.loc[j] > 0:
                print("\tEl ingeniero" , j, "con costo de $", costos[i].loc[j])
                suma = suma + costos[i].loc[j] * asignacion[i, j]
    if solicitudes.Servicio03.loc[i] > 0:
        print("El cliente", i, "requiere", solicitudes.Servicio03.loc[i], "servicios. Los ingenieros posibles son:")
        for j in acreditaciones.index:
            if acreditaciones.Servicio03.loc[j] > 0:
                print("\tEl ingeniero" , j, "con costo de $", costos[i].loc[j])
                suma = suma + costos[i].loc[j] * asignacion[i, j]
    if solicitudes.Servicio04.loc[i] > 0:
        print("El cliente", i, "requiere", solicitudes.Servicio04.loc[i], "servicios. Los ingenieros posibles son:")
        for j in acreditaciones.index:
            if acreditaciones.Servicio04.loc[j] > 0:
                print("\tEl ingeniero" , j, "con costo de $", costos[i].loc[j])
                suma = suma + costos[i].loc[j] * asignacion[i, j]
    if solicitudes.Servicio05.loc[i] > 0:
        print("El cliente", i, "requiere", solicitudes.Servicio05.loc[i], "servicios. Los ingenieros posibles son:")
        for j in acreditaciones.index:
            if acreditaciones.Servicio05.loc[j] > 0:
                print("\tEl ingeniero" , j, "con costo de $", costos[i].loc[j])
                suma = suma + costos[i].loc[j] * asignacion[i, j]
    if solicitudes.Servicio06.loc[i] > 0:
        print("El cliente", i, "requiere", solicitudes.Servicio06.loc[i], "servicios. Los ingenieros posibles son:")
        for j in acreditaciones.index:
            if acreditaciones.Servicio06.loc[j] > 0:
                print("\tEl ingeniero" , j, "con costo de $", costos[i].loc[j])
                suma = suma + costos[i].loc[j] * asignacion[i, j]

suma = suma - (costos['C3'].loc['I3']*asignacion['C3','I3'] + costos['C3'].loc['I6']*asignacion['C3','I6'] + costos['C5'].loc['I1']*asignacion['C5','I1'] + costos['C5'].loc['I5']*asignacion['C5','I5'])

programa.set_objective(suma)
programa.show()

El cliente C1 requiere 2 servicios. Los ingenieros posibles son:
	El ingeniero I3 con costo de $ 111
	El ingeniero I6 con costo de $ 125
El cliente C2 requiere 1 servicios. Los ingenieros posibles son:
	El ingeniero I1 con costo de $ 113
	El ingeniero I2 con costo de $ 97
	El ingeniero I6 con costo de $ 107
El cliente C3 requiere 1 servicios. Los ingenieros posibles son:
	El ingeniero I3 con costo de $ 120
	El ingeniero I6 con costo de $ 60
El cliente C3 requiere 1 servicios. Los ingenieros posibles son:
	El ingeniero I3 con costo de $ 120
	El ingeniero I4 con costo de $ 113
	El ingeniero I6 con costo de $ 60
El cliente C4 requiere 2 servicios. Los ingenieros posibles son:
	El ingeniero I2 con costo de $ 127
	El ingeniero I4 con costo de $ 93
El cliente C5 requiere 1 servicios. Los ingenieros posibles son:
	El ingeniero I1 con costo de $ 60
	El ingeniero I3 con costo de $ 119
	El ingeniero I5 con costo de $ 114
	El ingeniero I6 con costo de $ 64
El cliente C5 requiere 1 servicios. Los ingenieros posibles son:
	El ingeniero I1 con costo de $ 60
	El ingeniero I2 con costo de $ 113
	El ingeniero I4 con costo de $ 112
	El ingeniero I5 con costo de $ 114
Minimization:
  111.0 Asignación[('C1', 'I3')] + 125.0 Asignación[('C1', 'I6')] + 113.0 Asignación[('C2', 'I1')] + 97.0 Asignación[('C2', 'I2')] + 107.0 Asignación[('C2', 'I6')] + 120.0 Asignación[('C3', 'I3')] + 60.0 Asignación[('C3', 'I6')] + 113.0 Asignación[('C3', 'I4')] + 127.0 Asignación[('C4', 'I2')] + 93.0 Asignación[('C4', 'I4')] + 60.0 Asignación[('C5', 'I1')] + 119.0 Asignación[('C5', 'I3')] + 114.0 Asignación[('C5', 'I5')] + 64.0 Asignación[('C5', 'I6')] + 113.0 Asignación[('C5', 'I2')] + 112.0 Asignación[('C5', 'I4')]

Constraints:
Variables:
  Asignación[('C1', 'I3')] = x_0 is an integer variable (min=0.0, max=+oo)
  Asignación[('C1', 'I6')] = x_1 is an integer variable (min=0.0, max=+oo)
  Asignación[('C2', 'I1')] = x_2 is an integer variable (min=0.0, max=+oo)
  Asignación[('C2', 'I2')] = x_3 is an integer variable (min=0.0, max=+oo)
  Asignación[('C2', 'I6')] = x_4 is an integer variable (min=0.0, max=+oo)
  Asignación[('C3', 'I3')] = x_5 is an integer variable (min=0.0, max=+oo)
  Asignación[('C3', 'I6')] = x_6 is an integer variable (min=0.0, max=+oo)
  Asignación[('C3', 'I4')] = x_7 is an integer variable (min=0.0, max=+oo)
  Asignación[('C4', 'I2')] = x_8 is an integer variable (min=0.0, max=+oo)
  Asignación[('C4', 'I4')] = x_9 is an integer variable (min=0.0, max=+oo)
  Asignación[('C5', 'I1')] = x_10 is an integer variable (min=0.0, max=+oo)
  Asignación[('C5', 'I3')] = x_11 is an integer variable (min=0.0, max=+oo)
  Asignación[('C5', 'I5')] = x_12 is an integer variable (min=0.0, max=+oo)
  Asignación[('C5', 'I6')] = x_13 is an integer variable (min=0.0, max=+oo)
  Asignación[('C5', 'I2')] = x_14 is an integer variable (min=0.0, max=+oo)
  Asignación[('C5', 'I4')] = x_15 is an integer variable (min=0.0, max=+oo)

In [8]:
programa.add_constraint(asignacion[('C2', 'I1')] + asignacion[('C5', 'I1')] <= 2)
programa.add_constraint(asignacion[('C2', 'I2')] + asignacion[('C4', 'I2')] + asignacion[('C5', 'I2')] <= 1)
programa.add_constraint(asignacion[('C1', 'I3')] + asignacion[('C3', 'I3')] + asignacion[('C5', 'I3')] <= 3)
programa.add_constraint(asignacion[('C3', 'I4')] + asignacion[('C4', 'I4')] + asignacion[('C5', 'I4')] <= 2)
programa.add_constraint(asignacion[('C5', 'I5')] <= 1)
programa.add_constraint(asignacion[('C1', 'I6')] + asignacion[('C2', 'I6')] + asignacion[('C3', 'I6')] + asignacion[('C5', 'I6')] <= 3)

In [9]:
programa.add_constraint(asignacion[('C1', 'I3')] + asignacion[('C1', 'I6')] == 2)
programa.add_constraint(asignacion[('C2', 'I1')] + asignacion[('C2', 'I2')] + asignacion[('C2', 'I6')] == 1)
programa.add_constraint(asignacion[('C3', 'I3')] + asignacion[('C3', 'I6')] + asignacion[('C3', 'I4')] == 2)
programa.add_constraint(asignacion[('C4', 'I2')] + asignacion[('C4', 'I4')] == 2)
programa.add_constraint(asignacion[('C5', 'I1')] + asignacion[('C5', 'I3')] + asignacion[('C5', 'I5')] + asignacion[('C5', 'I6')] + asignacion[('C5', 'I2')] + asignacion[('C5', 'I4')] == 2)
programa.show()

Minimization:
  111.0 Asignación[('C1', 'I3')] + 125.0 Asignación[('C1', 'I6')] + 113.0 Asignación[('C2', 'I1')] + 97.0 Asignación[('C2', 'I2')] + 107.0 Asignación[('C2', 'I6')] + 120.0 Asignación[('C3', 'I3')] + 60.0 Asignación[('C3', 'I6')] + 113.0 Asignación[('C3', 'I4')] + 127.0 Asignación[('C4', 'I2')] + 93.0 Asignación[('C4', 'I4')] + 60.0 Asignación[('C5', 'I1')] + 119.0 Asignación[('C5', 'I3')] + 114.0 Asignación[('C5', 'I5')] + 64.0 Asignación[('C5', 'I6')] + 113.0 Asignación[('C5', 'I2')] + 112.0 Asignación[('C5', 'I4')]

Constraints:
  Asignación[('C2', 'I1')] + Asignación[('C5', 'I1')] <= 2.0
  Asignación[('C2', 'I2')] + Asignación[('C4', 'I2')] + Asignación[('C5', 'I2')] <= 1.0
  Asignación[('C1', 'I3')] + Asignación[('C3', 'I3')] + Asignación[('C5', 'I3')] <= 3.0
  Asignación[('C3', 'I4')] + Asignación[('C4', 'I4')] + Asignación[('C5', 'I4')] <= 2.0
  Asignación[('C5', 'I5')] <= 1.0
  Asignación[('C1', 'I6')] + Asignación[('C2', 'I6')] + Asignación[('C3', 'I6')] + Asignación[('C5', 'I6')] <= 3.0
  2.0 <= Asignación[('C1', 'I3')] + Asignación[('C1', 'I6')] <= 2.0
  1.0 <= Asignación[('C2', 'I1')] + Asignación[('C2', 'I2')] + Asignación[('C2', 'I6')] <= 1.0
  2.0 <= Asignación[('C3', 'I3')] + Asignación[('C3', 'I6')] + Asignación[('C3', 'I4')] <= 2.0
  2.0 <= Asignación[('C4', 'I2')] + Asignación[('C4', 'I4')] <= 2.0
  2.0 <= Asignación[('C5', 'I1')] + Asignación[('C5', 'I3')] + Asignación[('C5', 'I5')] + Asignación[('C5', 'I6')] + Asignación[('C5', 'I2')] + Asignación[('C5', 'I4')] <= 2.0
Variables:
  Asignación[('C1', 'I3')] = x_0 is an integer variable (min=0.0, max=+oo)
  Asignación[('C1', 'I6')] = x_1 is an integer variable (min=0.0, max=+oo)
  Asignación[('C2', 'I1')] = x_2 is an integer variable (min=0.0, max=+oo)
  Asignación[('C2', 'I2')] = x_3 is an integer variable (min=0.0, max=+oo)
  Asignación[('C2', 'I6')] = x_4 is an integer variable (min=0.0, max=+oo)
  Asignación[('C3', 'I3')] = x_5 is an integer variable (min=0.0, max=+oo)
  Asignación[('C3', 'I6')] = x_6 is an integer variable (min=0.0, max=+oo)
  Asignación[('C3', 'I4')] = x_7 is an integer variable (min=0.0, max=+oo)
  Asignación[('C4', 'I2')] = x_8 is an integer variable (min=0.0, max=+oo)
  Asignación[('C4', 'I4')] = x_9 is an integer variable (min=0.0, max=+oo)
  Asignación[('C5', 'I1')] = x_10 is an integer variable (min=0.0, max=+oo)
  Asignación[('C5', 'I3')] = x_11 is an integer variable (min=0.0, max=+oo)
  Asignación[('C5', 'I5')] = x_12 is an integer variable (min=0.0, max=+oo)
  Asignación[('C5', 'I6')] = x_13 is an integer variable (min=0.0, max=+oo)
  Asignación[('C5', 'I2')] = x_14 is an integer variable (min=0.0, max=+oo)
  Asignación[('C5', 'I4')] = x_15 is an integer variable (min=0.0, max=+oo)

In [10]:
solucion = programa.solve()
print(solucion)

745.0

In [11]:
suma = 0
previouskey = ''
for key, val in programa.get_values(asignacion).items():
    ##if val != 0:
    solicitudestotal = solicitudes.Servicio01.loc[key[0]] + solicitudes.Servicio02.loc[key[0]] + solicitudes.Servicio03.loc[key[0]] + solicitudes.Servicio04.loc[key[0]] + solicitudes.Servicio05.loc[key[0]] + solicitudes.Servicio06.loc[key[0]]
    if previouskey != key[0]:
        print("El cliente", key[0] , "solicitó", solicitudestotal, "servicios")
        previouskey = key[0]
    parcial = val * costos[key[0]].loc[key[1]]
    suma += parcial
    print("\tEl ingeniero", key[1] , "dara {:.0f}".format(val), "servicios a costo de ${:,.2f}".format(parcial))
print("\nEl costo del programa es ${:,.2f}".format(suma))

El cliente C1 solicitó 2 servicios
	El ingeniero I3 dara 2 servicios a costo de $222.00
	El ingeniero I6 dara 0 servicios a costo de $0.00
El cliente C2 solicitó 1 servicios
	El ingeniero I1 dara 0 servicios a costo de $0.00
	El ingeniero I2 dara 1 servicios a costo de $97.00
	El ingeniero I6 dara 0 servicios a costo de $0.00
El cliente C3 solicitó 2 servicios
	El ingeniero I3 dara 0 servicios a costo de $0.00
	El ingeniero I6 dara 2 servicios a costo de $120.00
	El ingeniero I4 dara 0 servicios a costo de $0.00
El cliente C4 solicitó 2 servicios
	El ingeniero I2 dara 0 servicios a costo de $0.00
	El ingeniero I4 dara 2 servicios a costo de $186.00
El cliente C5 solicitó 2 servicios
	El ingeniero I1 dara 2 servicios a costo de $120.00
	El ingeniero I3 dara 0 servicios a costo de $0.00
	El ingeniero I5 dara 0 servicios a costo de $0.00
	El ingeniero I6 dara 0 servicios a costo de $0.00
	El ingeniero I2 dara 0 servicios a costo de $0.00
	El ingeniero I4 dara 0 servicios a costo de $0.00

El costo del programa es $745.00